@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div id="container" class="row flex-direction-column">
    <section id="banner">
        <h3>Black friday: 60% Off!</h3>
    </section>
    <section id="conversion-ads">

        <section id="why-our-products" class="d-flex flex-column mt-2">
            <p class="fs-4 p-2 ">
                <img src="../images/landing.jpg" alt="Environment friendly" class="p-1 mx-3" />
                Our products are organically sourced from the most organic vegan friendly suppliers and
                manufacturers.
                Most of our products have certificates that indicate its recyclability and environment
                friendliness.
                Environment is our great concern and we do everything to keep it natural and healthy.
            </p>
            <p class="fs-4 p-2 ">
                <img src="../images/landing2.jpg" alt="Products that inspire" class="p-1 mx-3" />
                Our specialists hand pick products that meet the most strictest requirements of design and
                quality.
                To provide you with
                the most satisfaction we carefully listen to our customers demands and wishes, we constantly
                analizing feedback and acting
                on it to bring you the most freshest deals.
            </p>
        </section>
        <section id="most-popular-items" class="row  flex-md-row ">
            <div class="col-12 col-md-3 d-flex justify-content-center align-items-center p-3 ">
                <h3>Most popular items:</h3>
            </div>
            <article class="col-12 col-md-3 d-flex flex-column justify-content-between  p-3">
                <h4>Discover new worlds</h4>
                <div class="product-image">
                    <img src="../images/hoodie1.jpg" class="d-block mx-auto" />
                </div>
                <div class="product-info">
                    <h4>Octopus nautilus</h4>
                    <h5>Black hoodie with an octopus graphic</h5>
                    <h6>23005</h6>
                </div>
            </article>
            <article class="col-12 col-md-3 d-flex flex-column justify-content-between  p-3">
                <h4>Shine like a diamond</h4>
                <div class="product-image">
                    <img src="../images/hoodie1.jpg" class="d-block mx-auto" />
                </div>
                <div class="product-info">
                    <h4>Octopus nautilus</h4>
                    <h5>Black hoodie with an octopus graphic</h5>
                    <h6>23005</h6>
                </div>
            </article>
            <article class="col-12 col-md-3 d-flex flex-column justify-content-between  p-3">
                <h4>Tidy up</h4>
                <div class="product-image">
                    <img src="../images/hoodie1.jpg" class="d-block mx-auto" />
                </div>
                <div class="product-info">
                    <h4>Octopus nautilus</h4>
                    <h5>Black hoodie with an octopus graphic</h5>
                    <h6>23005</h6>
                </div>
            </article>
        </section>
    </section>
    <div class="text-center">
        <h4 class="display-4">Our latest product catalogs</h4>
        <a href="/test-misc/Data Modeling Overview.pdf">pdf</a>
        <a href="/test-misc/wordweb10.exe">exe</a>
        <a href="/test-misc/SecretLaunchSequenceCode.cs">cs</a>
    </div>
</div>
