@page 

@{
    ViewData["Title"] = "Index";
}

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>Learn what make MadStick e shop the unique place to shop for clothing and accessories!</b></h1>
  <p>We are the company based in Lunada, Tarmenstalia. We are proud to be based out of this beutiful island in the pacific ocean</p>
</header>


<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="/images/env.jpg" alt="Nature" style="width:100%">
    <div class="w3-container">
      <h3 id="environment"><b>Enviroment</b></h3>
    </div>

    <div class="w3-container">
      <p>We protect environment. 

        <p class="fs-4 p-2 ">
                
                Our products are organically sourced from the most organic vegan friendly suppliers and
                manufacturers.
                Most of our products have certificates that indicate its recyclability and environment
                friendliness.
                Environment is our great concern and we do everything to keep it natural and healthy.
            </p>
            <p class="fs-4 p-2 ">
                Our specialists hand pick products that meet the most strictest requirements of design and
                quality.
                To provide you with
                the most satisfaction we carefully listen to our customers demands and wishes, we constantly
                analizing feedback and acting
                on it to bring you the most freshest deals.
            </p>   
      </p>



      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">0</span></span></p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="/images/select.jpg" alt="Nature" style="width:100%">
    <div class="w3-container">
      <h3 id="environment"><b>Only the selected products</b></h3>
    </div>

    <div class="w3-container">
      <p>We are a team of fashion and scientif enthusiasths, we bring the most work to bring you the most stylist and fashionalbe items that are not generic like in the big retail stores.

        <p class="fs-4 p-2 ">
                Our specialists hand pick products that meet the most strictest requirements of design and
                quality.
                To provide you with
                the most satisfaction we carefully listen to our customers demands and wishes, we constantly
                analizing feedback and acting
                on it to bring you the most freshest deals.
            </p>  

        <h5>DISCOUNTED</h5>
        <p>This category of products are dedicated to the waterproofing the apparel. These products for example hooodies, have a special couting that will repel water dropblets coming from
          the evil sky above. Rain coming down on you and getting your clothes soaked and things that shouldn't? Well there is our solution!</p>

        <h5>DAMAGED PACKAGING</h5>
        <p>This will provide great products that are not to shabby only packaging has been damaged. Some packaging is more damaged that others. Get great value for your money by choosing this 
          type of category for your next shopping session!
        </p>
        
      </p>



      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">0</span></span></p>
        </div>
      </div>
    </div>
  </div>


<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
  <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
  <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Next »</button>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>
