@page 

@{
    ViewData["Title"] = "Index";
}

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1>Frequently asked questions</h1>
  <p>Feel free to ask us a question, Here we provide a list of most frequently asked questions:<span class="w3-tag">unknown</span></p>
</header>

<!-- Grid -->
<div class="w3-row">

<!-- QA entries -->
<div class="w3-col l8 s12">
  <!-- QA entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
      <h5>Qeustion: Where is my receipt?</h5>
      <h6>Asked, <span class="w3-opacity">April 7, 2014</span></h6>
    </div>

    <div class="w3-container">
      <h5>Answer: </h5>
      <p>You can find you receipt by goint to <b>Orders</b> -> <b>Completed Orders</b>. Then clicking on the <b>Receipts</b></p>
    </div>
  </div>
  <hr>

 <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
      <h5>Qeustion: How long the referal code lasts?</h5>
      <h6>Asked, <span class="w3-opacity">April 7, 2014</span></h6>
    </div>

    <div class="w3-container">
      <h5>Answer: </h5>
      <p>Referal code lasts until it used. There is no limit to how long referal code can be unused. To see your active referal codes Go to <b>User settings</b>then find the button<b>Completed Orders</b>. There should be a list of activated referal codes.</p>
    </div>
  </div>
  <hr>

  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
      <h5>Can I receive a newsletter when new products get on sale?</h5>
      <h6>Asked, <span class="w3-opacity">April 7, 2014</span></h6>
    </div>

    <div class="w3-container">
      <h5>Answer: </h5>
      <p>Yes, to subscribe to out newsletter visit <b>User settings</b> -> <b></b>. Then clicking on the <b>Receipts</b></p>
    </div>
  </div>
  <hr>

  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
      <h5>Qeustion: Why can't I buy certain products?</h5>
      <h6>Asked, <span class="w3-opacity">April 5, 2015</span></h6>
    </div>

    <div class="w3-container">
      <h5>Answer: </h5>
      <p>If you can add certain product to you cart, that means a product is out of stock.</p>
    </div>
  </div>
  <hr>

  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
      <h5>Qeustion: What's the answer to life?</h5>
      <h6>Asked, <span class="w3-opacity">April 7, 2014</span></h6>
    </div>

    <div class="w3-container">
      <h5>Answer: </h5>
      <p>Death, death is the only answer I am afraid</p>
    </div>
  </div>
  <hr>
<!-- END BLOG ENTRIES -->
</div>

<div>
  <a><button>ASK A QUESTION</button></a>
</div>