@page
@model MadStickWebAppTester.Pages.Endpoints.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Endpoint</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Endpoint.Value" class="control-label"></label>
                <input asp-for="Endpoint.Value" class="form-control" />
                <span asp-validation-for="Endpoint.Value" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Endpoint.IsAllowedAccess" /> @Html.DisplayNameFor(model => model.Endpoint.IsAllowedAccess)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Endpoint.IsAllowedModification" /> @Html.DisplayNameFor(model => model.Endpoint.IsAllowedModification)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Endpoint.EndpointPermissionId" class="control-label"></label>
                <select asp-for="Endpoint.EndpointPermissionId" class ="form-control" asp-items="ViewBag.EndpointPermissionId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
